!!!
html(data-ng-app='IntoSpectrum', data-ng-controller='MainCtrl',
  data-ng-click='menu.visible = false')
head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Vendor CSS
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- App CSS
    link(type='text/css', rel='stylesheet', href='/css/main.css', media='screen')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        div.navbar-brand
          a(href='/')
            | IntoSpectrum
        button.navbar-toggle(type='button', title='Toggle navigation',
          data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only
            | Toggle navigation
          i.icon-bar
          i.icon-bar
          i.icon-bar
      div.navbar-collapse.collapse
        //- Player
        div(data-ng-controller='PlayerCtrl')
          div.nav.nav-progress.col-md-6
            div.navbar-text.progress.progress-striped.has-tooltip(data-toggle='tooltip',
              data-placement='bottom', title='"{{ currentSong.title }}" by {{ currentSong.artist }}')
              div#play-progress.progress-bar(data-ng-style='{ width: 100*time/maxTime + "%" }')
          div.nav.nav-controls.col-md-3
            div.col-md-7
              form.navbar-form.form-inline
                div.btn-group
                  button.btn.btn-default(data-ng-click='previous()', type='button', title='Previous')
                    i.icon-step-backward
                  button.btn.btn-default(data-ng-click='togglePause()', type='button', title='Toggle play/pause')
                    i.icon-play(data-ng-hide='playing')
                    i.icon-pause(data-ng-show='playing')
                  button.btn.btn-default(data-ng-click='next()', type='button', title='Next')
                    i.icon-step-forward
            div.col-md-5
              div.slider(title='Change volume (current: {{ volume }})',
                  data-ng-model='volume', data-slider, data-slider-orientation='horizontal',
                  data-slider-slide='setVolume(volume)', data-slider-min='0', data-slider-max='100')
    div.navbar-fixed-push

    //- Songs
    div(data-ng-class="{'col-md-9': sidebarVisible, 'col-md-12': !sidebarVisible}")
      table.song-library.table.table-condensed
        thead
          tr
            th.visible-xs.visible-sm
            th
              a(data-ng-click='toggleSongsSort("title")', title='Sort by title')
                | Title
            th
              a(data-ng-click='toggleSongsSort("artist")', title='Sort by artist')
                | Artist
            th
              a(data-ng-click='toggleSongsSort("album")', title='Sort by album')
                | Album
        tbody(infinite-scroll='paginate()')
          tr.song-item(data-ng-repeat='song in songs | orderBy:predicate:reverse',
              data-ng-class='{ active: song.id == currentSong.id }',
              data-ng-click='play(song)', data-ng-right-click='menu.open($event, song)')
            td.visible-xs.visible-sm
              div.btn-group
                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                  span.icon-wrench
                ul.dropdown-menu
                  li
                    a(data-ng-click='play(song)', title='Play')
                      i.icon-play
                      | &nbsp;
                      | Play
                  li
                    a(data-ng-click='addToPlaylist(song)', title='Add to playlist')
                      i.icon-plus
                      | &nbsp;
                      | Add to playlist
                  li
                    a(data-ng-click='playNext(song)', title='Play next')
                      i.icon-arrow-right
                      | &nbsp;
                      | Play next
            td {{ song.title }}
            td {{ song.artist }}
            td {{ song.album }}
          tr(data-ng-show='loading')
            td.text-center(colspan=4)
              img.song-loader(src='img/loader.gif')
              | &nbsp;
              | Loading more songs, please wait...

    //- Sidebar
    div.col-md-3(data-ng-show='sidebarVisible', data-ng-init='sidebarVisible = false')
    div.sidebar.visible-md.visible-lg
      div.sidebar-tabs.sidebar-item.col-md-3.tabbable(data-spy='affix', data-ng-show='sidebarVisible')
        ul.nav.nav-tabs
          li.active
            a(href='#tab-playlist', data-toggle='tab')
              i.icon-list
          li
            a(href='#tab-youtube', data-toggle='tab')
              i.icon-youtube
        div.tab-content
          //- Playlist
          div#tab-playlist.tab-pane.active(data-ng-controller='PlaylistCtrl')
            h4(data-ng-show='!playlist.length')
              p.text-center
                | Playlist is empty
            ul.playlist.list-group
              li.playlist-item.list-group-item.row(data-ng-repeat='song in playlist')
                div.col-md-9
                  | {{song.title}}
                div.col-md-1
                  a(data-ng-click='remove($index); play(song)')
                    i.icon-play
                div.col-md-1
                  a(data-ng-click='remove($index)')
                    i.icon-remove
          //- Youtube
          div#tab-youtube.tab-pane(data-ng-controller='YoutubeCtrl')
            form(data-ng-submit='search()')
              div.input-group
                input.youtube-search.form-control(data-ng-model='query', type='text', placeholder='Search on Youtube')
                div.input-group-btn
                  button.btn.btn-default(type='button')
                    i.icon-search
            div.youtube-results
              div.youtube-loading(data-ng-show='searching')
                div.col-md-2
                div.col-md-2
                  img(src='/img/loader.gif')
                div.col-md-2
                  h4 Searching...
              div.media(data-ng-repeat='result in results', data-ng-click='play(result.url)')
                img.media-object.pull-left.img-thumbnail(data-ng-src='{{result.thumb}}', title='{{result.title}}')
                div.media-body
                  h4.media-heading
                    | {{result.title}}
                  em.text-right
                    | {{result.time}}
      div.sidebar-toggle.sidebar-item.col-md-1
        button.btn.btn-default(type='button', title='Toggle sidebar display',
            data-ng-click='sidebarVisible = !sidebarVisible')
          i.icon-chevron-right(data-ng-show='sidebarVisible')
          i.icon-chevron-left(data-ng-hide='sidebarVisible')
          | &nbsp;
          | sidebar

    //- Context-menu
    div.dropdown(data-ng-show='menu.visible', class='open',
        data-ng-style='{ position: "absolute", top: menu.position.y, left: menu.position.x }')
      ul.dropdown-menu
        li
          a(href='#/play', data-ng-click='play(menu.song)')
            i.icon-play
            | &nbsp;
            | Play
          a(href='#/play-next', data-ng-click='playNext(menu.song)')
            i.icon-arrow-right
            | &nbsp;
            | Play next
          a(href='#/add-to-playlist', data-ng-click='addToPlaylist(menu.song)')
            i.icon-plus
            | &nbsp;
            | Add to playlist

    //- Vendor JS
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')
    script(type='text/javascript', src='/components/socket.io-client/dist/socket.io.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')

    //- App JS
    script(type='text/javascript', src='/js/main.js')
//- vim: ft=jade et sw=2 sts=2
