!!!
html(data-ng-app='IntoSpectrum', data-ng-controller='MainCtrl',
  data-ng-click='menu.visible = false')
head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Vendor CSS
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- App CSS
    link(type='text/css', rel='stylesheet', href='/css/main.css', media='screen')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only
            | Toggle navigation
          i.icon-bar
          i.icon-bar
          i.icon-bar
      div.navbar-collapse.collapse

        //- Player
        div(data-ng-controller='PlayerCtrl')
          div.nav.col-md-3
            form.navbar-form.form-inline
              div.input-group
                input.form-control(type='text', placeholder='Search a song')
                div.input-group-btn
                  button.btn.btn-default(type='button')
                    span.icon-search
          div.nav.nav-progress.col-md-6
            div.navbar-text.progress
              div#play-progress.progress-bar(data-ng-style='{ width: 100*time/maxTime + "%" }')
          div.nav.nav-controls.col-md-3
            div.col-md-8
              form.navbar-form.form-inline
                div.btn-group
                  button.btn.btn-default(data-ng-click='previous()', type='button')
                    i.icon-step-backward
                  button.btn.btn-default(data-ng-click='togglePause()', type='button')
                    i.icon-play(data-ng-hide='playing')
                    i.icon-pause(data-ng-show='playing')
                  button.btn.btn-default(data-ng-click='next()', type='button')
                    i.icon-step-forward
                  button.btn.btn-default(data-ng-click='toggleRandom()', data-ng-class='{ active: random }', type='button')
                    i.icon-random
            div.col-md-4
              div.slider(data-ng-model='volume', slider, slider-orientation='horizontal',
                    slider-slide='setVolume(volume)', slider-min='0', slider-max='100')
    div.navbar-fixed-push

    //- Sidebar
    div.col-md-3(data-ng-show='sidebarVisible', data-ng-init='sidebarVisible = true')
    div.sidebar
      div.sidebar-tabs.sidebar-item.col-md-3.tabbable(data-spy='affix', data-ng-show='sidebarVisible')
        ul.nav.nav-tabs
          li.active
            a(href='#tab-playlist', data-toggle='tab')
              i.icon-list
          li
            a(href='#tab-youtube', data-toggle='tab')
              i.icon-youtube
        div.tab-content
          //- Playlist
          div#tab-playlist.tab-pane.active(data-ng-controller='PlaylistCtrl')
            h4(data-ng-show='!playlist.length')
              p.text-center
                | Playlist is empty
            ul.playlist.list-group
              li.playlist-item.list-group-item.row(data-ng-repeat='song in playlist')
                div.col-md-9
                  | {{song.title}}
                div.col-md-1
                  a(href='#/playlist/{{song.id}}/play', data-ng-click='play($index)')
                    i.icon-play
                div.col-md-1
                  a(href='#/playlist/{{song.id}}/remove', data-ng-click='remove($index)')
                    i.icon-remove
          //- Youtube
          div#tab-youtube.tab-pane(data-ng-controller='YoutubeCtrl')
            form(data-ng-submit='search()')
              div.input-group
                input.youtube-search.form-control(data-ng-model='query', type='text', placeholder='Search on Youtube')
                div.input-group-btn
                  button.btn.btn-default(type='button')
                    i.icon-search
            div.youtube-results
              div.youtube-loading(data-ng-show='searching')
                div.col-md-2
                div.col-md-2
                  img(src='/img/loader.gif')
                div.col-md-2
                  h4 Searching...
              div.media(data-ng-repeat='result in results', data-ng-click='play(result.url)')
                img.media-object.pull-left.img-thumbnail(data-ng-src='{{result.thumb}}', title='{{result.title}}')
                div.media-body
                  h4.media-heading
                    | {{result.title}}
                  em.text-right
                    | {{result.time}}
      div.sidebar-toggle.sidebar-item.col-md-1
        button.btn.btn-default(type='button', data-ng-click='sidebarVisible = !sidebarVisible')
          i.icon-chevron-right(data-ng-hide='sidebarVisible')
          i.icon-chevron-left(data-ng-show='sidebarVisible')
          | &nbsp;
          | sidebar

    //- Songs
    div(data-ng-class="{'col-md-9': sidebarVisible, 'col-md-12': !sidebarVisible}")
      table.song-library.table.table-condensed
        thead
          tr
            th
              a(href='#/sort-by/title', data-ng-click='predicate = "title"; reverse = !reverse') Title
            th
              a(href='#/sort-by/artist', data-ng-click='predicate = "artist"; reverse = !reverse') Artist
            th
              a(href='#/sort-by/album', data-ng-click='predicate = "album"; reverse = !reverse') Album
        tbody(infinite-scroll='paginate()')
          tr.song-item(data-ng-click='play(song)', data-ng-right-click='menu.open($event, song)',
              data-ng-class='{ active: song.id == currentSongId }',
              data-ng-repeat='song in songs | orderBy:predicate:reverse')
            td {{ song.title }}
            td {{ song.artist }}
            td {{ song.album }}
    div.dropdown(data-ng-show='menu.visible', class='open',
        data-ng-style='{ position: "absolute", top: menu.position.y, left: menu.position.x }')
      ul.dropdown-menu
        li
          a(href='#/play', data-ng-click='play(menu.song)')
            i.icon-play
            | &nbsp;
            | Play
          a(href='#/play-next', data-ng-click='playNext(menu.song)')
            i.icon-arrow-right
            | &nbsp;
            | Play next
          a(href='#/add-to-playlist', data-ng-click='addToPlaylist(menu.song)')
            i.icon-plus
            | &nbsp;
            | Add to playlist

    //- Vendor JS
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')

    //- App JS
    script(type='text/javascript', src='/js/main.js')
